<div ng-app="myApp" ng-controller="SignUpCtrl">

<form class="form-signin"  ng-submit="signUp()">
   <h2 class="form-signin-heading">Please sign up</h2>
   <label for="inputUsername" class="sr-only">User Name</label>
   <input ng-model="username" type="text" id="inputUsername" class="form-control" placeholder="text" required="" autofocus="">
   <label for="inputEmail" class="sr-only">Email address</label>
   <input ng-model="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
   <label for="inputPassword" class="sr-only">Password</label>
   <input ng-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">

   <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign up</button>
   <label name="error"></label>   
</form>
	<div ng-if="error != ''" style="font-size: small; color: #ff0000">
		<br/>
		<label ng-model="error">{{ error }}</label>  	
		<br/>
	</div>

</div>

<div>
<label >or</label> 
</div>
<br/>
<label >already have an account ?</label> 
<a role="presentation" href="/#/signin">Sign In</a>