<!doctype html>
<html>
    <head>
        <script src="/static/js/1.5.3/angular.min.js"></script>
		<script src="/static/js/1.5.3/angular-route.min.js"></script>
		<script src="/static/js/1.5.3/angular-cookies.js"></script>
		<script src="/static/js/app.js"></script>
		<link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body ng-app="myApp">
				
<style type="text/css">
	div{
	    font-size:20px;
	    text-align:center;
	}
</style>
<div class="flexbox-parent">
  <div layout="row" layout-align="center center"  style="min-height: 300px">

		<img src="static/img/angularjs.png" />			
		<hr/>		 
		<div layout-align='center center' layout='row' ng-view></div>

		<div>
	    <hr>

	    <p><h5><a role="presentation" href="/#/">Back to Main</a></h5></p>
		</div>

  </div>
</div>
   </body>
</html>